.dest-content {
    background: rgb(0 175 181 / 5%);
    padding: 10px;
    border-radius: 20px;
}

.dest-page-img img {
    border-radius: 10px;
    max-height: 400px;
    object-fit: cover;
}

.big-title {
    font-size: 110px;
    margin-top: -40px;
    transform: translateY(75px);
    text-shadow: 0 2px #fff;
}

.dest-text p {
    margin-bottom: 20px;
}

.dest-text {
    padding: 20px 100px;
    font-size: 20px;
    font-weight: 400;
    color: #525252;
    line-height: 24px;
    text-align: center;
}

.dest-page-gallery {
    background: rgb(0 175 181 / 5%);
    padding: 10px;
    padding-bottom: 0;
    border-radius: 20px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 10px;
}

.gallery-imgs {
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 10px;
}

.booknow {
    background: #00afb5;
    border-radius: 20px;
    padding: 40px 60px;
    margin-bottom: 20px;
}

.booknow h3 {
    color: #fff;
    margin: 0;
    text-align-last: left;
}

@media only screen and (max-width: 760px) {
    .dest-text {
        padding: 20px 50px;
    }

    .dest-page-gallery {
        grid-template-columns: repeat(1, 1fr);
    }

    .booknow {
        justify-content: center;
    }

    .booknow h3 {
        display: none;
    }
}